<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Accounts   -->
    <bean id="account1" class="com.example.demo.Account">
        <property name="username" value="Ahmed"></property>
        <property name="cardNum" value="123456"></property>
        <property name="pin" value="1234"></property>
        <property name="balance" value="1000.0"></property>

    </bean>

    <bean id="account2" class="com.example.demo.Account">
        <property name="username" value="Alan"></property>
        <property name="cardNum" value="123"></property>
        <property name="pin" value="1234"></property>
        <property name="balance" value="1000.0"></property>

    </bean>


    <!-- Bank -->
    <bean id="bank" class="com.example.demo.Bank">
        <property name="accounts">
            <list>
                <ref bean="account1"></ref>
                <ref bean="account2"></ref>
            </list>
        </property>

    </bean>

    <!-- ATM -->
    <bean id="atm" class="com.example.demo.ATM">
        <constructor-arg ref="bank"></constructor-arg>
    </bean>
</beans>